@model BankManagementSystemVersionFinal1.Models.Transfer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h4>Account Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender.AccountHolder.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model =>model.Sender.AccountHolder.Name)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model =>  model.Sender.AccountHolder.Cin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender.AccountHolder.Cin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model =>  model.Sender.AccountId)
        </dd>
    </dl>
</div>
<div>
    <h4>Transfers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receiver.AccountId)
        </dd>
    </dl>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
