@model IEnumerable<BankManagementSystemVersionFinal1.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste Des Transactions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.AccountId)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.AccountId)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> 
        </td>
    </tr>
}
</tbody>
</table>
<a asp-controller="@(User.IsInRole("Manager") ? "Managers" : "Employees")" asp-action="Index">Back to Home</a>
